<div class="container-fluid pt-5 centralAssinante text-light pb-5">
    <br>
    <div class="container text-center d-flex flex-column align-items-center justify-content-center mt-5">
        <h2 class="text-center">Utilize a Central do Assinante</h2>
        <br>
        <p>Faça impressão dos seus boletos etc.</p>

        <div class="d-flex  mt-3 mb-5 align-items-center justify-content-center">
            <a href="https://radnet.c.sgp.net.br/accounts/central/login" target="_blank" ><button class="btn btn-light " [@btnState]="myState" (mouseover)="toggleState()" (mouseout)="toggleState()" >Acessar Central do Assinante</button></a>
        </div>

    </div>
    <br>
</div>