.centralAssinante {
    background-image: url(../../assets/img/torres2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
