<div class="text-center d-flex row">

    <h2 class="mt-4">Simulador de planos</h2>

    <div class="col mb-3 mt-3">
        <p>Venha trabalhar em uma das empresas que mais crescem em são sebastião</p>
    </div>
    <div class="col bg-light mb-3 mt-3">
        <br>
        <h4>Cadastre já seu curriculo</h4>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nome Completo</span>
            <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Data de Nascimento</span>
            <input type="text" class="form-control" placeholder="Data de Nascimento" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Telefone</span>
            <input type="text" class="form-control" placeholder="Telefone" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Endereço</span>
            <input type="text" class="form-control" placeholder="Endereço" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <button type="button" class="btn btn-primary mb-3">Cadastre-se</button>

    </div>
</div>
