<div class="container-fluid d-flex align-items-center ">
    <div class="container mt-5 mb-5 p-0" style="border-radius: 50px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: #ff8b3e;" >
        <div class="container text-center mt-3 mb-3">
            <h2>Simulador de Plano Ideal</h2>
        </div>
    
        <router-outlet></router-outlet>

        <div class="container mt-5 mb-5 d-flex justify-content-center" *ngIf="teste == '' " >

            <button type="button" class="btn btn-success me-1" routerLink="dispositivos" (click)="comecarTeste()">Começar Teste</button>

        </div>

        <div class="container mt-5 mb-5 d-flex justify-content-center" *ngIf="teste == 'continuar' " >

            <button type="button" class="btn btn-success me-1" routerLink="servicos" (click)="continuar()">Continuar</button>

        </div>

        <div class="container mt-5 mb-5 d-flex justify-content-center" *ngIf="teste == 'resultado' " >

            <button type="button" class="btn btn-success me-1" routerLink="resultado" (click)="resultado()">Resultado</button>

        </div>

        <div class="container mt-5 mb-5 d-flex justify-content-center" *ngIf="teste == 'recomecar' " >

            <button type="button" class="btn btn-success me-1" routerLink="dispositivos" (click)="recomecar()">Recomeçar</button>

        </div>

    </div>
</div>
