<div class="text-center pt-5 pb-5 d-flex row">
    <div>
        <h2>CONTATO</h2>
        <p>Envie-nos um e-mail, Whatsapp ou deixe seu número que ligamos para você</p>
    </div>
    <div class="col pt-5">
        <i class="fa fa-street-view fa-5x"></i>
        <h4>ENDEREÇO</h4>
        <p>Avenida Comercial, 2281, Centro</p>
    </div>
    <div class="col pt-5">
        <i class="fa fa-mobile fa-5x"></i>
        <h4>TELEFONES</h4>
        <p>Avenida Comercial, 2281, Centro</p>
    </div>

    <div class="col pt-5">
        <i class="fa fa-envelope fa-4x"></i>
        <h4>EMAIL</h4>
        <p>Avenida Comercial, 2281, Centro</p>
    </div>


</div>