<div class="container">

    <div class="bg-light d-flex justify-content-between row p-2">
        <a href="" routerLink="/home" class="col"> <img src="../assets/logo radnet/logo 226x100.png" width="140"></a>

        <nav class="navbar navbar-expand-lg navbar-light col ">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/planos" routerLinkActive="active">Planos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/simulador" routerLinkActive="active">Simulador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://radnet.c.sgp.net.br/accounts/central/login" target="_blank">Central do Assinante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/trabalhe-conosco" routerLinkActive="active">Trabalhe Conosco</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/contatos" routerLinkActive="active">Contatos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <router-outlet></router-outlet>

    <div class=" bg-light d-flex justify-content-between row ">
        <div class="col p-4 ">
            <h3>RADNET<br>TELECOM</h3>
            <br>
            <p>Fornecemos internet, com tecnologia, qualidade, agilidade a preço popular, facilitando ao máximo as relações pessoais e empresariais, para que nossos clientes possam aproveitar o máximo da vantagem que a Internet tem a oferecer.</p>
        </div>
        <div class=" col p-4 ">
            <h5>LINKS ÚTEIS</h5>
            <br>
            <ul class="list-group ">
                <li class="list-group-item ">
                    <a class="nav-link " href="# " routerLink="/home "><i class="fa fa-chevron-right "></i>  Home</a>
                </li>

                <li class="list-group-item ">
                    <a class="nav-link " href="# " routerLink="/planos "> <i class="fa fa-chevron-right "></i> Planos</a>
                </li>

                <li class="list-group-item ">
                    <a class="nav-link " href="# " routerLink="/central-do-assinante "><i class="fa fa-chevron-right "></i> Central do Assinante</a>
                </li>

                <li class="list-group-item ">
                    <a class="nav-link " href="# " routerLink="/politicas-de-privacidade "> <i class="fa fa-chevron-right "></i> Políticas de Privacidade</a>
                </li>
            </ul>
        </div>
        <div class=" col p-4 ">
            <h5>CONTATO</h5>
            <br>
            <p>Avenida Comercial 2281<br> São Sebastiao, Centro<br> Brasilia DF Telefone: (61) 3335 - 0513 <br>Email: contato@viaradnet.com.br</p>
        </div>
        <div class=" col p-4 ">
            <h5>RECEBA NOSSAS PROMOÇÕES</h5>
            <br>
            <p>Cadastre seu e-mail para receber novas promoções e estar por dentro de todas as novidades que a Radnet está preparando.</p>
            <br>
            <div class="input-group ">
                <input type="text " class="form-control " placeholder=" " aria-label="Example text with button addon " aria-describedby="button-addon1 ">
                <button class="btn btn-outline-success " type="button " id="button-addon1 ">Cadastrar</button>

            </div>

        </div>
        <div class="text-center bg-dark pt-3 ">

            <p class="text-light ">© Copyright Radnet. All Rights Reserved<br> Designed by André A. Mesquita</p>
        </div>
    </div>


</div>