<div class="container text-center mb-2 mt-5">
  <h2 class="mt-4">Pré - Cadastro</h2>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" routerLink="/home">Home</a></li>
      <li class="breadcrumb-item">
        <a href="#" routerLink="/planos">Planos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Pré - Cadastro</li>
    </ol>
  </nav>

  <div class="col mb-5 mt-3 p-5" style="background-color: #ff8b3e; border-radius: 20px">
    <h4 class="mb-5">Formulário de Pré - Cadastro</h4>

    <form #formulario="ngForm" (ngSubmit)="insertPrecadastro(formulario)">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nome Completo</span>
        <input type="text" class="form-control" placeholder="Nome e Sobrenome e Último Nome" aria-label="Username"
          aria-describedby="basic-addon1" name="nome" [(ngModel)]="preCadastro.nome" #nomeInv="ngModel" required
          pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)" />
        <span *ngIf="nomeInv.invalid && nomeInv.touched" class="bg-danger align-middle p-2 text-light">Nome e Sobrenome
          e Último Nome</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">CPF</span>
        <input type="text" class="form-control" placeholder="Ex.: 12345678901" aria-label="Username"
          aria-describedby="basic-addon1" name="cpf" [(ngModel)]="preCadastro.cpf" required #cpfInv="ngModel"
          pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})" />
        <span *ngIf="cpfInv.invalid && cpfInv.touched" class="bg-danger align-middle p-2 text-light">Use o formato
          12345678901 ou 123.456.789-01</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">RG</span>
        <input type="text" class="form-control" placeholder="Apenas Números" aria-label="Username"
          aria-describedby="basic-addon1" name="rg" [(ngModel)]="preCadastro.rg" required #rgInv="ngModel" />
        <span *ngIf="rgInv.invalid && rgInv.touched" class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Data de Nascimento</span>
        <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
          name="data_nascimento" [(ngModel)]="preCadastro.data_nascimento" required #dtInv="ngModel" min="1900-01-01" />
        <span *ngIf="dtInv.invalid && dtInv.touched" class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nome da Mãe</span>
        <input type="text" class="form-control" placeholder="Nome e Sobrenome e Último Nome" aria-label="Username"
          aria-describedby="basic-addon1" name="nome_mae" [(ngModel)]="preCadastro.nome_mae" required
          #nomeMaeInv="ngModel" pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)" />
        <span *ngIf="nomeMaeInv.invalid && nomeMaeInv.touched" class="bg-danger align-middle p-2 text-light">Nome e
          Sobrenome
          e Último Nome</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input type="text" class="form-control" placeholder="email@email.com" aria-label="Username"
          aria-describedby="basic-addon1" name="email" [(ngModel)]="preCadastro.email" required email
          #emailInv="ngModel" />
        <span *ngIf="emailInv.invalid && emailInv.touched" class="bg-danger align-middle p-2 text-light">Campo
          Inválido</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Seu Telefone</span>
        <input type="text" class="form-control" placeholder="99-99999-9999" aria-label="Username"
          aria-describedby="basic-addon1" name="fone" [(ngModel)]="preCadastro.fone" required #foneInv="ngModel"
          pattern="^([0-9]{2})\-([9]{1})?([0-9]{4})-([0-9]{4})$" />
        <span *ngIf="foneInv.invalid && foneInv.touched" class="bg-danger align-middle p-2 text-light">Use o formato
          99-99999-9999</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Outro telefone para Contato</span>
        <input type="text" class="form-control" placeholder="99-99999-9999" aria-label="Username"
          aria-describedby="basic-addon1" ngModel name="fone_secundario" [(ngModel)]="preCadastro.fone_secundario"
          required #outroContatoInv="ngModel" pattern="^([0-9]{2})\-([9]{1})?([0-9]{4})-([0-9]{4})$" />
        <span *ngIf="outroContatoInv.invalid && outroContatoInv.touched"
          class="bg-danger align-middle p-2 text-light">Use o formato 99-99999-9999</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Endereço</span>
        <input type="text" class="form-control" placeholder="QD x LT x RUA x APART x CS x" aria-label="Username"
          aria-describedby="basic-addon1" name="endereco" [(ngModel)]="preCadastro.endereco" required
          #enderecoInv="ngModel" />
        <span *ngIf="enderecoInv.invalid && enderecoInv.touched" class="bg-danger align-middle p-2 text-light">Campo
          Inválido</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Ponto de fererência</span>
        <input type="text" class="form-control" placeholder="Perto do Mercado x ao lado do Posto y"
          aria-label="Username" aria-describedby="basic-addon1" name="ponto_referencia"
          [(ngModel)]="preCadastro.ponto_referencia" required #pontoInv="ngModel" />
        <span *ngIf="pontoInv.invalid && pontoInv.touched" class="bg-danger align-middle p-2 text-light">Campo
          Inválido</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Data de vencimento</span>
        <input type="number" class="form-control" placeholder="Nº entre 1 a 28" aria-label="Username"
          aria-describedby="basic-addon1" name="data_vencimento" [(ngModel)]="preCadastro.data_vencimento" required
          min="1" max="28" #dtVencimentoInv="ngModel" />
        <span *ngIf="dtVencimentoInv.invalid && dtVencimentoInv.touched"
          class="bg-danger align-middle p-2 text-light">Nº entre 1 a 28</span>
      </div>

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Sem Fidelidade</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="false">Com Fidelidade</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Plano Escolhido</label>
            <select class="form-select" id="inputGroupSelect01" name="plano_escolhido"
              [(ngModel)]="preCadastro.plano_escolhido" required #planoFidelidadeInv="ngModel">
              <option value="1" selected>
                START - 60MB - R$ 119,90 / MENSAL
              </option>
              <option value="2">PLUS - 200MB - R$ 139,90 / MENSAL</option>
              <option value="3">ULTRA - 300MB - R$ 159,90 / MENSAL</option>
              <option value="4">MESH - 400MB - R$ 249,90 / MENSAL</option>
            </select>
            <span *ngIf="planoFidelidadeInv.invalid && planoFidelidadeInv.touched"
              class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Plano Escolhido</label>
            <select class="form-select" id="inputGroupSelect01" name="plano_escolhido"
              [(ngModel)]="preCadastro.plano_escolhido" required #planoSemFidelidade="ngModel">
              <option value="5" selected>
                START - 60MB - R$ 89,90 / MENSAL
              </option>
              <option value="6">PLUS - 200MB - R$ 109,90 / MENSAL</option>
              <option value="7">ULTRA - 300MB - R$ 129,90 / MENSAL</option>
              <option value="8">MESH - 400MB - R$ 199,90 / MENSAL</option>
            </select>
            <span *ngIf="planoFidelidadeInv.invalid && planoFidelidadeInv.touched"
              class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary mb-3" type="submit">
        Cadastre-se
      </button>
    </form>
    <div class="d-flex justify-content-center  align-content-center flex-wrap">
      <span *ngIf="campoVazio[0] == 'vazio'" class="bg-danger p-1 text-light mx-1 mt-2 rounded"><strong>NOME</strong>
        vazio</span>
      <span *ngIf="campoVazio[1] == 'vazio'" class="bg-danger p-1 text-light mx-1 mt-2 rounded"><strong>CPF</strong>
        vazio</span>
      <span *ngIf="campoVazio[2] == 'vazio'" class="bg-danger p-1 text-light mx-1 mt-2 rounded"><strong>RG</strong>
        vazio</span>
      <span *ngIf="campoVazio[3] == 'vazio'" class="bg-danger p-1 text-light mx-1 mt-2 rounded"><strong>DATA
          NASCIMENTO</strong>
        vazio</span>
      <span *ngIf="campoVazio[4] == 'vazio'" class="bg-danger  p-1 text-light mx-1 mt-2 rounded"> <strong>NOME
          MÃE</strong>
        vazio</span>
      <span *ngIf="campoVazio[5] == 'vazio'" class="bg-danger p-1 text-light mx-1 mt-2 rounded"> <strong>EMAIL</strong>
        vazio</span>
      <span *ngIf="campoVazio[6] == 'vazio'" class="bg-danger  p-1 text-light mx-1 mt-2 rounded">
        <strong>TELEFONE</strong> vazio</span>
      <span *ngIf="campoVazio[7] == 'vazio'" class="bg-danger  p-1 text-light mx-1 mt-2 rounded"> <strong>OUTRO
          TELEFONE</strong>
        vazio</span>

    </div>
    <div class="d-flex justify-content-center  align-content-center flex-wrap">
      <span *ngIf="campoVazio[8] == 'vazio'" class="bg-danger  p-1 text-light mx-1 mt-2 rounded">
        <strong>ENDEREÇO</strong>
        vazio</span>

      <span *ngIf="campoVazio[9] == 'vazio'" class="bg-danger  p-1 text-light mx-1 mt-2 rounded"> <strong>PONTO DE
          REFERÊNCIA</strong> vazio</span>
      <span *ngIf="campoVazio[10] == 'vazio'" class="bg-danger  p-1 text-light mx-1 mt-2 rounded"> <strong>DATA
          VENCIMENTO</strong> vazio</span>
      <span *ngIf="campoVazio[11] == 'vazio'" class="bg-danger  p-1 text-light mx-1 mt-2 rounded"> <strong>PLANO
          ESCOLHIDO</strong> vazio</span>

    </div>

  </div>
</div>