<div class="container text-center mb-2 mt-5">

    <h2 class="mt-4">Pré - Cadastro</h2>

    <div class="col mb-3 mt-3 p-5" style="background-color: #ff8b3e;border-radius: 20px">
        
        <h4 class="mb-5 ">Formulário de Pré - Cadastro</h4>
        
        <form (ngSubmit)="transferir()">

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nome Completo</span>
                <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="nome" name="nome">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">CPF</span>
                <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="nome" name="nome">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">RG</span>
                <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="nome" name="nome">
            </div>



            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Data de Nascimento</span>
                <input type="text" class="form-control" placeholder="Data de Nascimento" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="dtNasc" name="dtNasc">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nome da Mãe</span>
                <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="nome" name="nome">
            </div>


            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="email" name="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Seu Telefone</span>
                <input type="text" class="form-control" placeholder="Telefone" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="telefone" name="telefone">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Outro telefone para Contato</span>
                <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="nome" name="nome">
            </div>


            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Endereço</span>
                <input type="text" class="form-control" placeholder="Endereço" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="endereco" name="endereco">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Ponto de fererência</span>
                <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="nome" name="nome">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Data de vencimento</span>
                <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="nome" name="nome">
            </div>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sem Fidelidade</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Com Fidelidade</a>
                </li>

            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Plano Escolhido</label>
                        <select class="form-select" id="inputGroupSelect01" name="pl_esc" required>
<option value="1" selected>START - 20MB - R$ 99,90 / MENSAL</option>
<option value="2">FAMILY - 50MB - R$ 119,90 / MENSAL</option>
<option value="3">OFFICE - 100MB - R$ 169,90 / MENSAL</option>
<option value="4">GAME - 200MB - R$ 249,90 / MENSAL</option>
</select>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Plano Escolhido</label>
                        <select class="form-select" id="inputGroupSelect01" name="pl_esc" required>
                          <option value="5" selected>START - 20MB - R$ 79,90 / MENSAL</option>
<option value="6">FAMILY - 50MB - R$ 99,90 / MENSAL</option>
<option value="7">OFFICE - 100MB - R$ 149,90 / MENSAL</option>
<option value="8">GAME - 200MB - R$ 199,90 / MENSAL</option>
</select>
                    </div>

                </div>

            </div>


            <button type="button" class="btn btn-primary mb-3" type="submit">Cadastre-se</button>
        </form>
    </div>
</div>
