<div class="container">
    <div class="text-center mt-4">
        <h4>Informe abaixo a quantidade total dos dispositivos que irão compartilhar a conexão neste endereço</h4>
    </div>

    <div class="container d-flex justify-content-center flex-wrap">
        <div class="d-flex flex-column  align-items-center p-5">
            <i class="fas fa-mobile-alt fa-3x pb-3"></i>
            <label>Camera(s)  <input type="number" class="input-qtd" id="input-cam" min="0" max="10" value="0"><br></label>
        </div>
        <div class="d-flex flex-column  align-items-center p-5">
            <i class="fas fa-laptop fa-3x pb-3"></i>
            <label>Notebook(s)  <input type="number" class="input-qtd" id="input-not" min="0" max="10" value="0"><br></label>
        </div>
        <div class="d-flex flex-column  align-items-center p-5">
            <i class="fas fa-tablet-alt fa-3x pb-3"></i>
            <label>tablet(s)  <input type="number" class="input-qtd" id="input-tab" min="0" max="10" value="0"><br></label>
        </div>
        <div class="d-flex flex-column  align-items-center p-5">
            <i class="fas fa-tv fa-3x pb-3"></i>
            <label>SmartTV(s) <input type="number" class="input-qtd" id="input-stv" min="0" max="10" value="0"><br></label>
        </div>
        <div class="d-flex flex-column  align-items-center p-5">
            <i class="fas fa-tv fa-3x pb-3"></i>
            <label>SmartTV 4K(s)  <input type="number" class="input-qtd" id="input-st4"min="0" max="10" value="0"><br></label>
        </div>
        <div class="d-flex flex-column  align-items-center p-5">
            <i class="fas fa-video fa-3x pb-3"></i>
            <label>Camera(s)  <input type="number" class="input-qtd" id="input-cam" min="0" max="10" value="0"><br></label>
        </div>
        <div class="d-flex flex-column  align-items-center p-5">
            <i class="fas fa-gamepad fa-3x pb-3"></i>
            <label>VideoGame(s) <input type="number" class="input-qtd" id="input-vig" min="0" max="10" value="0"><br></label>
        </div>
    </div>


</div>
