<div class="container">
  <div class="text-center d-flex row">
    <h2 class="mt-4 p-3">Trabalhe Conosco</h2>

    <div
      class="col mb-3 mt-3"
      style="border-radius: 20px; background-color: #ff8b3e"
    >
      <br />
      <h4 class="text-light">CADASTRE JÁ SEU CURRÍCULO</h4>
      <br />

      <form #formulario="ngForm" (ngSubmit)="transferir(formulario)">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nome Completo</span>
        <input
          type="text"
          class="form-control"
          placeholder="Nome Completo"
          aria-label="Username"
          aria-describedby="basic-addon1"
          [(ngModel)]="nome" name="nome" #nomeInv="ngModel"  required
        />
        <span *ngIf="nomeInv.invalid && nomeInv.touched" class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"
          >Data de Nascimento</span
        >
        <input
          type="date"
          class="form-control"
          placeholder="Data de Nascimento"
          aria-label="Username"
          aria-describedby="basic-addon1"
          [(ngModel)]="dtNascimento" name="dtNascimento" #dtNascimentoInv="ngModel"  required
        />
        <span *ngIf="dtNascimentoInv.invalid && dtNascimentoInv.touched" class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="Username"
          aria-describedby="basic-addon1"
          [(ngModel)]="email" name="email" #emailInv="ngModel"  required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])"
        />
        <span *ngIf="emailInv.invalid && emailInv.touched" class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Telefone</span>
        <input
          type="text"
          class="form-control"
          placeholder="Telefone"
          aria-label="Username"
          aria-describedby="basic-addon1"
          [(ngModel)]="fone" name="fone" #foneInv="ngModel"  required
        />
        <span *ngIf="foneInv.invalid && foneInv.touched" class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Endereço</span>
        <input
          type="text"
          class="form-control"
          placeholder="Endereço"
          aria-label="Username"
          aria-describedby="basic-addon1"
          [(ngModel)]="endereco" name="endereco" #enderecoInv="ngModel"  required
        />
        <span *ngIf="enderecoInv.invalid && enderecoInv.touched" class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
      </div>

      <span class="text-light"
        >Mesmo se candidatando a uma das áreas abaixo, seu currículo concorre
        para todas elas</span
      >
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01"
          >Área de Interesse</label
        >
        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="areaDeInteresse" name="areaDeInteresse" #areaDeInteresseInv="ngModel"  required>
          <option selected>Geral</option>
          <option value="1">Infraestrutura</option>
          <option value="2">Telemarketing</option>
          <option value="3">Gestão</option>
          <option value="3">Vendas</option>
        </select>
        <span *ngIf="areaDeInteresseInv.invalid && areaDeInteresseInv.touched" class="bg-danger align-middle p-2 text-light">Campo Inválido</span>
      </div>

      <span class="text-light">Formatos Suportados: docx, pdf</span>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" />

        <label class="input-group-text" for="inputGroupFile02"
          >Enviar Currículo</label
        >
      </div>

      <button
        type="submit"
        class="btn mb-3"
        style="background-color: rgb(44, 44, 255); color: white"
        id="trabalhe-conosco"
      >
        Cadastre-se
      </button>
    </form>
    </div>

    <div class="col m-3">
      <img src="../../assets/logo radnet/logo 486x100.png" class="p-4" />
      <p>
        Venha trabalhar em uma das empresas que mais crescem em
        <strong>São Sebastião</strong>
      </p>
      <img src="../../assets/img/3372240.jpg" width="100%" />
    </div>
  </div>
</div>
