<div class="row">
  <div class="col-sm-12">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{{ slider[0].enderecoImg }}"
            class="d-block w-100"
            alt="..."
            height="600"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>{{ slider[0].titulo }}</h1>
            <h3>{{ slider[0].texto }}</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{{ slider[1].enderecoImg }}"
            class="d-block w-100"
            alt="..."
            height="600"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>{{ slider[1].titulo }}</h1>
            <h3>{{ slider[1].texto }}</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{{ slider[2].enderecoImg }}"
            class="d-block w-100"
            alt="..."
            height="600"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>{{ slider[2].titulo }}</h1>
            <h3>{{ slider[2].texto }}</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{{ slider[3].enderecoImg }}"
            class="d-block w-100"
            alt="..."
            height="600"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>{{ slider[2].titulo }}</h1>
            <h3>{{ slider[2].texto }}</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{{ slider[4].enderecoImg }}"
            class="d-block w-100"
            alt="..."
            height="600"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>{{ slider[2].titulo }}</h1>
            <h3>{{ slider[2].texto }}</h3>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <app-planos></app-planos>


  <app-central-do-assinante></app-central-do-assinante>
  <app-trabalhe-conosco></app-trabalhe-conosco>
  <app-abrangencia></app-abrangencia>
  <app-manual-usuario></app-manual-usuario>
  <app-contatos></app-contatos>
</div>
